@import "tailwindcss";
@import "uniwind";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(240 2% 23%);
  --color-input: hsl(240 3% 11%);
  --color-ring: hsl(240 2% 56%);
  --color-background: hsl(0 0% 0%);
  --color-foreground: hsl(240 5% 96%);
  --color-primary: hsl(240 5% 96%);
  --color-primary-foreground: hsl(0 0% 5%);
  --color-secondary: hsl(240 3% 11%);
  --color-secondary-foreground: hsl(240 5% 96%);
  --color-destructive: hsl(0 74% 59%);
  --color-destructive-foreground: hsl(0 0% 100%);
  --color-muted: hsl(240 3% 15%);
  --color-muted-foreground: hsl(240 2% 56%);
  --color-accent: hsl(240 3% 17%);
  --color-accent-foreground: hsl(240 5% 96%);
  --color-popover: hsl(240 3% 11%);
  --color-popover-foreground: hsl(240 5% 96%);
  --color-card: hsl(240 3% 11%);
  --color-card-foreground: hsl(240 5% 96%);
  --radius-lg: 0.875rem;
  --radius-md: calc(0.875rem - 2px);
  --radius-sm: calc(0.875rem - 4px);
  --font-sans: Geist;
  --font-mono: GeistMono;
}

:root {
  --font-display:
    Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-display-medium:
    Geist-Medium, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display-semibold:
    Geist-SemiBold, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display-bold:
    Geist-Bold, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    GeistMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-mono-medium:
    GeistMono-Medium, GeistMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  --font-rounded: Geist, Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Geist, Inter, ui-sans-serif, system-ui, sans-serif;

  --radius: 0.875rem;
}
